Allow multiple authentication methods per request

[RFC 7230 §3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2) states that, while the same request header can't be sent more than once, multiple values can be concatenated into a comma-separated list. On the other hand, [RFC 7235 §4.2](https://tools.ietf.org/html/rfc7235#section-4.2) is vague on the subject, when it comes to the `Authorization` request header.

Given that iRobot is designed to support multiple authentication providers, it might be useful to allow clients to provide multiple sets of credentials in a single request.